
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #070513, #5abf95, #24243e);
}
.main{
	width: 1000px;
	height: 1000px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
label{
	color: #fff;
	font-size: 2.1em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 40%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 20%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #053a24;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.remove_button{
	width: 30%;
	height: 30px;
	justify-content: center;
	display: block;
	color: #fff;
	background: #053a24;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5cm;
    text-align: right;

}

button:hover{
	background: #0c7032;
}
.one_line{
    display: flex;
    gap: 150px;
    justify-content:space-around;
}

.box{
    color: #000000;
	font-size: 1 em;
	display: flex;
	justify-content:flex-start;
    background: #c3ecd3;
    margin: 2px 10px 5px 10px;
}

.box2{
    color: #000000;
	font-size: 1 em;
	/* display: flex; */
	justify-content:flex-end;
    background: #c3ecd3;
    margin: 2px 10px 5px 10px;
}


